body{
  background-color: blue;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

form, button{
   padding:  50px 55px;
   border-radius: 20px;
   text-align: center;
   width: 300px;
   opacity: 85%;
   background-color: #aeedf5;

}
h2{
   color: rgb(173, 17, 69);
   font-size: 25px;
   text-align: center;
}

label,input {

    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    border-radius: 5px;
    color: black;
} 
